<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  <servlet-name>register</servlet-name>
  <servlet-class>com.tech.blog.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.tech.blog.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
 
   <servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>com.tech.blog.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>edit</servlet-name>
  <servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>edit</servlet-name>
  <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>addpost</servlet-name>
  <servlet-class>com.tech.blog.servlets.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addpost</servlet-name>
  <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>postlike</servlet-name>
  <servlet-class>com.tech.blog.servlets.PostLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>postlike</servlet-name>
  <url-pattern>/PostLikeServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>